/* Header Responsive Design */
@media screen and (max-width: 720px) {
  .header {
    padding: 2rem 1.5rem;
  }

  .navbar ul li {
    font-size: 1.7vw;
    font-weight: 400;
  }

  .buttons button:nth-of-type(1) {
    padding: 0.3rem 0.7rem;
    font-family: font3;
    font-size: 0.7rem;
  }

  .buttons button:nth-of-type(2) {
    font-size: 1rem;
  }

  .home_page {
    padding: 10rem 2rem;
  }

  .home_page p {
    width: 100%;
    font-size: 5vw;
    font-family: font3;
  }

  .text p {
    width: 100%;
    font-size: 0.5rem;
    color: rgb(145, 145, 145);
  }

  .home_star h3 {
    display: none;
  }

  .box_clients {
    padding: 3.5rem 2rem;
    height: 60vh;
    border-radius: 2rem;
  }

  .clients_Video {
    width: 10rem;
    height: 10rem;
  }

  .clients_Video video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .one h1 {
    width: 70%;
    font-size: 10vw;
    font-weight: 400;
    font-family: font5;
  }

  .box_clients p {
    font-size: 1rem;
  }

  .bg_images img {
    width: 70vw;
    height: 90vh;
  }

  .por {
    display: none;
  }
}

/* Header Responsive Design */
@media screen and (max-width: 520px) {
  .navbar ul {
    display: none;
  }

  .star h4 {
    font-size: 0.7rem;
  }

  .text p {
    font-size: 0.3rem;
  }

  .videoMeun video {
   display: none;
  }

  .buttons button:nth-of-type(1) {
    display: none;
  }

  .buttons .heyBtn {
    display: block;
    display: flex;
    align-items: center;
  } 

  .menuPage .menu ul li {
    font-size: 7vw;
    margin-right: 1rem;
    font-weight: 500;
  }

  
  .bg_images img {
    width: 80vw;
    height: 90vh;
  }
  
}
