/* Header Responsive Design */
@media screen and (max-width: 720px) {
  .header {
    padding: 2rem 1.5rem;
  }

  .navbar ul li {
    font-size: 1.7vw;
    font-weight: 400;
  }

  .buttons button:nth-of-type(1) {
    padding: 0.3rem 0.7rem;
    font-family: font3;
    font-size: 0.7rem;
  }

  .buttons button:nth-of-type(2) {
    font-size: 1rem;
  }

  .home_page {
    padding: 10rem 2rem;
  }

  .home_page p {
    width: 100%;
    font-size: 5vw;
    font-family: font3;
  }

  .text p {
    width: 100%;
    font-size: 0.5rem;
    color: rgb(145, 145, 145);
  }

  .home_star h3 {
    display: none;
  }

  .box_clients {
    padding: 3.5rem 2rem;
    height: 60vh;
    border-radius: 2rem;
  }

  .clients_Video {
    width: 10rem;
    height: 10rem;
  }

  .clients_Video video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .one h1 {
    width: 70%;
    font-size: 10vw;
    font-weight: 400;
    font-family: font5;
  }

  .box_clients p {
    font-size: 1rem;
  }

  .bg_images img {
    width: 70vw;
    height: 90vh;
  }

  .por {
    display: none;
  }

  .images_anim .one {
    width: 50%;
  }

  .images_anim .two {
    width: 40%;
  }

  .images_anim .three {
    width: 45%;
  }

  .sir_page {
    padding: 0 4rem;
  }

  .sir_page p {
    line-height: 40px;
    font-size: 10vw;
  }

  .canvas_page canvas {
    max-width: 30rem;
    border-radius: 30px;
  }
  
  .footer .top {
    flex-direction: column;
    position: relative;
    padding: 0 2rem;
    gap: 1rem;
    text-align: center;
  }

  .text_foot div {
    width: 20rem;
  }

  .text_foot div h2 {
    font-size: 5vw;
    font-weight: 500;
  }

  .follow li i {
    font-size: 15px;
  }
  

  .oneBox .text_foot video {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .oneBox {
    width: 50%;
    align-items: center;
    justify-content:space-around;
    text-align: center;
  }

  .top .twoBox {
    position: absolute;
    top: 30rem;
  }

  .twoBox form {
    position: relative;
    right: 5rem;
  }

  .inputText input {
    width: 40vw;
  }

  .inputText label {
    font-size: 2.2vw;
  }

  .twoBox h3 {
    padding-top: 2rem;
  }

  
.twoBox .border { 
  flex-direction: column;
  flex-wrap: nowrap;
}

  .footer .bottom {
    width: 100%;
    padding: 0 2rem;
    position: relative;
    bottom: -26rem;
  }

  .twoBox .border span {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
  }  
}

/* Header Responsive Design */
@media screen and (max-width: 520px) {
  .navbar ul {
    display: none;
  }

  .star h4 {
    font-size: 0.7rem;
  }

  .text p {
    font-size: 0.3rem;
  }

  .videoMeun video {
   display: none;
  }

  .buttons button:nth-of-type(1) {
    display: none;
  }

  .buttons .heyBtn {
    display: block;
    display: flex;
    align-items: center;
  } 

  .menuPage .menu ul li {
    font-size: 7vw;
    margin-right: 1rem;
    font-weight: 500;
  }

  .bg_images img {
    width: 80vw;
    height: 90vh;
  }

  .design_pages h1 {
    font-size: 10vw;
    padding: 0 1rem;
  }

  .box_img {
    align-items: start;
    flex-direction: column;
    margin-left: -8rem;
  }

  .profile {
    width: 100%;
    padding: 1rem;  
  }

  .profile img {
    width: 7vw;
  }

  .images_anim .one {
    width: 60%;
    left: -15%;
  }

  .images_anim .two {
    width: 50%;
  }

  .images_anim .three {
    width: 55%;
    left: 70%;
  }
  
  .sir_page {
    padding: 0 2rem;
  }

  .sir_page p span{
    line-height: 20px;
    font-size: 8w;
  }

  .swiper-slide {
    padding: 0 1rem;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .twoBox form {
    position: relative;
    right: 4rem;
  }

  .twoBox .border { 
    padding: 2rem 0;
  }

  .canvas_page canvas {
    max-width: 22rem;
  }
  
  
  .twoBox .border span {
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
  }

}
